/*
    Template : Beautiful Awesome Bootstrap Template for Multi Purpose
    Author   : Toqeer Haider
    Email    : haidertoqeer@gmail.com
    Version  : 1.0.0
*/


 
/*
    Table of the Content
    =====================

    1- Basic Variables
    2- Header
    3- Slider
    4- New Arrivals Section Styling
    5- Fixed Background Styling
    6- Popular Item
    7- Key Feature
    .- Responsive


*/


    @import 'basic';  
    @import 'header';
    @import 'slider';
    @import 'newarrivals';
    @import 'fixedbg';
    @import 'popularItem';
    @import 'keyfeature';
    @import 'responsive';
//
